@import "../../app.component.scss";

.food {
  width: 160px;
  height: 180px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.212);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 30px;

  img {
    object-fit: contain;
    height: 80px;
  }

  &__price {
    color: #e1b471;
    font-weight: bold;
    font-size: 15px;
    align-self: flex-end;
  }

  &__name {
    align-self: flex-start;
    font-weight: bold;
    font-size: 15px;
  }
}
